*{
    font-family: Arial, Helvetica, sans-serif;
}
#ONE{
    color: rgb(0, 208, 255);
    font-size: 20px;
    line-height: normal;
    text-transform:capitalize;
}
#heading_one{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size:30px;
}
#inner{
    font-size:10px;
}

